.buttonText {
  padding: 2px 3px 2px 3px;
  cursor: pointer;
  border-radius: 5px;
  border: 2px solid #DDDDDD;
}

.buttonText {
  background-color: #F6F7F9;
}

#downBar {
  padding-top: 10px;
}

#downLink {
  padding-right: 10px;
}

#reload {
  display: none;
  background: #F6F7F9;
  padding: 2px;
  cursor: pointer;
  border-radius: 5px;
  border: 2px solid #DDDDDD;
}
