@import './variables';

:global(#dropdown-lang) {
  i:global(.fa.shifted) {
    margin-right: 12px;
    font-size: 22px;
    vertical-align: middle;
  }
}

.navbar-default .dropdown-toggle:focus {
  outline: none;
}

.app {
  $size: 42px;
  .brand {
    display: inline-block;
    float: left;
    background-image: url('./logo.png');
    background-repeat: no-repeat;
    height: $height-navbar;
    width: $size + 32px;
    background-position: center center;
    background-size: $size $size;
  }
  .brandText {
    vertical-align: middle;
    height: $height-navbar;
    line-height: $height-navbar;
  }
  .intruduction {
    position: relative;
    height: 200px;
    padding-bottom: 76px;
    a {
      text-decoration: none;
    }
  }
  .intruImg {
    z-index: -1;
    position: absolute;
    display: inline-block;
    background-image: url('./bg-adarsha-leaf.png');
    background-repeat: no-repeat;
    height: 200px;
    width: 100%;
    background-position: center center;
    background-size:cover;
  }
  .intruTitle {
    height: 37px;
    overflow: hidden;
    margin: 0 auto;
    text-align: center;
    font-family: PingFangTC-Medium;
    font-size: 26px;
    color: #383735;
  }
  .noAppDownload {
    padding-top: 40px;
    height: 77px;
  }
  .intruText {
    height: 115px;
    overflow: hidden;
    padding-top: 22px;
    margin: 0 auto;
    width: 78%;
    text-align: center;
    font-family: PingFangTC-Medium;
    font-size: 14px;
    color: #383735;
  }
  .fontBigger {
    font-size: 18px;
  }
  .upLoadButton {
    margin: 76px calc(50% - 52.75px) 0 calc(50% - 52.75px);
  }
  .upAndDownButton {
    margin: 76px calc(50% - 117.5px) 0 calc(50% - 117.5px);
    a {
      text-decoration: none;
    }
  }
  .fileLoad {
    font-size: $clickButton-font-size;
    font-family: $clickButton-font-family;
    position: $clickButton-position;
    background-color: $clickButton-background-color;
    border-radius: $clickButton-border-radius;
    padding: $clickButton-padding;
    color: $clickButton-color;
    line-height: $clickButton-line-height;
    :hover {
      cursor: pointer;
    }
    input {
      position: absolute;
      right: 0;
      top: 0;
      opacity: 0;
    }
  }
  .fileDownload {
    margin-left: 21px;
    font-size: $clickButton-font-size;
    font-family: $clickButton-font-family;
    position: $clickButton-position;
    background-color: $clickButton-background-color;
    border-radius: $clickButton-border-radius;
    padding: 7px 21px 6px 21px;;
    color: $clickButton-color;
    line-height: $clickButton-line-height;
    display: inline;
    :hover {
      cursor: pointer;
    }
  }
  .anti {
    background: #FFFFFF;
    color: #0C353B;
    border: 1px solid #0C353B;
    padding: 6px 15.5px 5px 15.5px;
    display: inline;
  }
  .fileName {
    font-family: PingFangTC-Medium;
    font-size: 18px;
    color: #000000;
    padding-left: 16.4%;
    padding-top: 48px;
    padding-bottom: 17px;
  }
  .footerNav {
    background-color: #004449;
    ul {
      text-align: center;
      padding-top: 24px;
      padding-bottom: 24px;
      > li {
        display: inline-block;
        > a {
          color: #fff;
          display: inline-block;
          padding: 7px 20px;
          font-size: 16px;
        }
      }
    }
  }
  .footerSection {
    color: #fff;
    padding-top: 51px;
    background-color: #00363c;
    .footerContent {
      font-family: "PingFangTC-Regular", "Helvetica Neue", Helvetica, sans-serif;
      width: 600px;
      @media (max-width: $screen-xs) {
        width: initial;
      }
      @media (min-width: $screen-sm) {
        width: initial;
      }
      .footerLogo img {
        float: left;
        @media (max-width: $screen-xs) {
          float: none;
          margin-bottom: 14px;
        }
        @media (min-width: $screen-sm) {
          float: right;
        }
      }
      .footerContact {
        float: left;
        h2 {
          padding: 7px 0;
          margin: 0;
          font-size: 14px;
        }
        ul {
          font-size: 12px;
          list-style-type: none;
          li {
            margin: 3px 0;
          }
        }
      }
      .footerCompany {
        padding-top: 23px;
        padding-bottom: 18px;
        text-align: center;
      }
    }
  }
  .fileReady {

  }
}
.appContent {
  margin: $height-navbar 0 0 0; // for fixed navbar
}
