.buttonText {
  padding: 2px 3px 2px 3px;
  cursor: pointer;
  border-radius: 5px;
  border: 2px solid #dddddd;
}

.buttonText {
  background-color: #f6f7f9;
}

.none {
  display: none;
}

.fileType {
  text-align: center;
  padding-top: 16px;
  padding-bottom: 43px;
  font-size: 16px;
  font-family: PingFangTC-Medium;
}

#downBar {
  padding-top: 10px;
}

#downLink {
  padding-right: 10px;
}

.downLoadButton {
  margin-left: -1px;
  letter-spacing: 0;
  padding-top: 10px;
  text-align: center;
  display: inline-block;
  width: 98px;
  height: 40px;
  opacity: 0.85;
  font-family: HelveticaNeue-Bold;
  font-size: 16px;
  color: #0C353B;
  background-color: #FFFFFF;
  border-radius: 2px;
  border: 1px solid rgba(154, 174, 160, 0.45);
  letter-spacing: 0;
}

.divLine {
  margin: 0 auto;
  width: 78%;
  border: 1px solid #0C353B;
}

#reload {
  display: none;
  background: #f6f7f9;
  padding: 2px;
  cursor: pointer;
  border-radius: 5px;
  border: 2px solid #dddddd;
}

.result {
  height: calc(100vh - 669px);
  padding-top: 8px;
  overflow-y: auto;
  width: 67%;
  margin: 0 auto;
  font-family: Kailasa-Bold;
  font-size: 24px;
  color: #383735;
  padding-bottom: 100px;
}

.render {
  height: 400px;
}
