.buttonText {
  padding: 2px 3px 2px 3px;
  cursor: pointer;
  border-radius: 5px;
  border: 2px solid #dddddd;
}

.buttonText {
  background-color: #f6f7f9;
}

#downBar {
  padding-top: 10px;
}

#downLink {
  padding-right: 10px;
}

.divLine {
  border-top: solid 0.5px #000000;
}

#reload {
  display: none;
  background: #f6f7f9;
  padding: 2px;
  cursor: pointer;
  border-radius: 5px;
  border: 2px solid #dddddd;
}

#result {
  font-size: 18pt;
  font-family: Microsoft Himalaya;
}
